<div class="menu">			
	<div id="scroll"><input id="zoom" type="range"  min="0.5" max="1" step="0.05" value="1"/></div>
	<!-- <input id="create_input" class="number" value="1"> -->
	<%= link_to "", editor_add_page_to_story_path(1), :class=> "story button", :remote => true%>
	<%= link_to "", editor_add_page_to_story_path(2), :class=> "new_page button", :remote => true%>
	<%= link_to "", editor_add_page_to_story_path(3), :class=> "config button", :remote => true%>
	<%= link_to "", editor_add_page_to_story_path(4), :class=> "user button", :remote => true%>
</div>

