html{  
	width: 100%; height: 100%;
	background-image: image-url("grid.jpg");
	background-repeat: repeat;
	overflow: hidden;
}
body{ width: 100%; height: 100%; margin: 0;}
#dragger_pane{
	position: relative;
	height: 50%;
	width: 50%;
	overflow: auto;
}
#main{	position: relative;}

/* NODE */

.node{
	position: absolute;
	width: 300px;
	height: 200px;
	text-align: left;
	font-size: 15px;
	color: black;
	transition: 0.1s -webkit-transform linear, 0.2s height linear, 0.1s width linear, 0.3s box-shadow linear;
	font-family: Patrick Hand;
	margin: 15px 5px;
}			
.node .content{	background: rgb(241, 241, 241)	;
	padding: 0 20px;
	box-sizing: border-box;
	width: 100%; height: 100%;
  overflow: hidden;}
.node p{
	overflow: hidden;
	max-height: 170px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.node p:hover{ cursor: default;}
.node .paper{	
	background-image: image-url("crumpled-paper.jpg");
	background-size: cover;
	position: absolute; 
	left: 0;
	top: 0;
	opacity: 0.3;
	height: 100%;
	width: 100%;
}
.node:before, .node:after{
  position: absolute;
  content: "";
  bottom: 5px;
  left: 10px;
  width: 47%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -10;
}
.node:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.node .tape{
	position: absolute;
	top: -15px;
	right: 80px;
	width: 130px;
	height: 35px;
	background-color: #fff;
	opacity: 0.6;
	border-left: 1px dashed rgba(0, 0, 0, 0.1);
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 1px 0px #cccccc;
	-moz-box-shadow: 0px 0px 1px 0px #cccccc;
	box-shadow: 0px 0px 1px 0px #cccccc;
	-webkit-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	-moz-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	-o-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
}
.node.jsPlumb_dragged .tape{ display: none;}
.node .header{ font-size: 20px; line-height: 40px; text-align: center; position:relative; }
svg._jsPlumb_connector {z-index: 10000;}
.node p{  position:relative;}
.node.jsPlumb_dragged{ box-shadow: 0px 20px 8px 5px rgba(0,0,0,0.4); margin-top: -5px;  cursor: image-url("cursors/move32.png"), pointer; }	
.node.jsPlumb_dragged:after,.node.jsPlumb_dragged:before{ content: none;}
.node.jsPlumb_dragged p:hover{cursor: image-url("cursors/move32.png"), pointer;}
.node .actions_node{ display: none; margin: 15px; height: 40px;}


/* SELECTED NODE */
.node.selected {
	width: 360px;
	height: 300px;
	-webkit-transform: rotate(0deg)!important;
	box-shadow: 0 10px 15px 5px;
	font-size: 16px;
	z-index:1000000!important;
}
.node.selected .header{font-size: 25px;}
.node.selected .tape {
	display: none;
}
.node.selected:before, .node.selected:after{
	display: none;
}
.node.selected p {
	max-height: 210px;
	font-size: 17px;
}

.node.selected .actions_node{ display: block;}
.node .actions_node .button_node{ 
  height: 40px; 
  width: 40px; 
  float: left;   
  background-repeat: no-repeat;
  position:relative;
}
.node .actions_node .edit_node{background-image: image-url("icons/edit.png");}
.node .actions_node .destroy_node{background-image: image-url("icons/fire.png"); float: right;}

/* NODE COLORS */

#node_1{ top: 120px; left: 120px;}

.node.red .content{ background-color: rgb(233, 47, 47);}
.node.green .content{ background-color: rgb(61, 168, 61);}
.node.blue .content{ background-color: rgb(40, 117, 255);}
.node.orange .content{ background-color: rgb(255, 178, 40);}
.node.yellow .content{ background-color: rgb(207, 207, 0);}
.node.turquoise .content{ background-color: turquoise;}
.node.purple .content{ background-color: rgb(139, 38, 165);}
.node.pink .content{ background-color: rgb(247, 125, 212);}

/* MENU */
.menu {
	position: fixed;
	top: 0;
	right: 5%;
	display: block;
	width: 30%;
	z-index: 100000;
	background: white;
}
#scroll{
	width: 200px;
	height: 40px;
	margin-left: 20px;
	float: left;
}	
#zoom{
	width: 100%;
	margin-top: 10px;
}
.button {
  width: 30px; 
  height: 30px;  
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin-left: 20px;
  margin-top:5px;
}
.button.new_page{ background-image: image-url("icons/page35.png"); width: 25px;}
.button.config{ background-image: image-url("icons/cogwheel13.png"); }
.button.story{ background-image: image-url("icons/agenda.png"); }
.button.user{ background-image: image-url("icons/business66.png"); }



/* FORMS */
#content_form{
  position: absolute;
  top: 100px;
  margin-left: 20%;
  margin-right: 20%;
  background: white;
  width: 60%;
}